<h1 class="text-center mb-4 title-fade-in">Edit Book</h1>

<div class="container show-container">
  <div class="show-book-content">
    <%= form_with(model: @book, local: true) do |form| %>
        <div class="book-form-spacing">
            <div>
                <div class="form-group">
                    <%= form.label :title, class: 'form-label-edit' %>
                    <%= form.text_field :title, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= form.label :author, class: 'form-label-edit' %>
                    <%= form.text_field :author, class: 'form-control' %>
                </div>

                <div class="form-group form-control-checkbox">
                    <%= form.label :finished, class: 'form-label-edit' %>
                    <%= form.check_box :finished, data: { toggle: "true" } %>
                </div>

                <div class="form-group toggle-fields" style="display: none;">
                    <%= form.label :stars, class: 'form-label-edit' %>
                    <%= form.number_field :stars, class: 'form-control' %>
                </div>

                <div class="form-group toggle-fields" style="display: none;">
                    <%= form.label :thoughts, class: 'form-label-edit' %>
                    <%= form.text_area :thoughts, rows: 6, class: 'form-control thoughts-input' %>
                </div>

            </div>
            <div>
                <div class="action-buttons">
                    <%= link_to 'Cancel', book_path(@book), class: 'btn btn-secondary' %>
                    <%= form.submit 'Save changes', class: 'btn btn-custom' %>
                </div>
            </div>
        </div>
    <% end %>
  </div>
</div>
